<!DOCTYPE html>
<html>
<title>Router 설정 페이지</title>
<meta charset="UTF-8">
<% include ./meta.ejs %>
<style>
.w3-sidebar a {font-family: "Roboto", "Nanum gothic", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", "Nanum gothic", sans-serif;}
    body{padding:0px}
</style>

<body class="w3-content w3-grey" style="max-width:1200px">

    <% include ./menu.ejs %>

	<!-- 내용 시작 -->
	<div class="w3-main w3-white" style="margin-left:250px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top:83px"></div>

		<!-- 시스템 정보 -->
		<header class="w3-container w3-xlarge">
			<p class="w3-left w3-border-bottom">시스템 정보</p>
		</header>
        
		<div class="w3-container w3-text-grey" id="summary_device">
			<p>현재 연결된 기기</p>
			<div class="w3-bar w3-text-black w3-border-top w3-border-bottom">
				<table class="w3-table">
					<tr class="w3-border-bottom">
						<td>이름</td><td>기기명</td><td>IP</td>
					</tr>
					<tr>
						<td><%=result%></td><td>갤럭시노트5</td><td>123.456.12.34</td>
					</tr>
				</table>
			</div>
		</div>
	  
		<div class="w3-container w3-text-grey" id="summary-security">
			<p>보안 설정 요약</p>
		</div>

		<div class="w3-container w3-text-grey" id="summary_device">
			<div class="w3-bar w3-text-black w3-border-top w3-border-bottom">
				<table class="w3-table">
					<tr class="w3-border-bottom">
						<td width = "50%">차단된 MAC ADDRESS</td><td>N개</td>
					</tr>
					<tr>
						<td>SYN Flood 차단</td><td>사용중</td>
					</tr>
				</table>
			</div>
		</div>
	  
		<div class="w3-container w3-text-grey" id="summary-printer">
			<p>연결 프린터 정보</p>
		</div>

		<div class="w3-container w3-text-grey" id="summary_device">
			<div class="w3-bar w3-text-black w3-border-top w3-border-bottom">
				<table class="w3-table">
					<tr class="w3-border-bottom">
						<td width="50%">프린터 명</td><td>TEST</td>
					</tr>
					<tr>
						<td>현재 상태</td><td>좋음</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="w3-container w3-text-grey" id="summary-NAS">
			<p>NAS 정보</p>
		</div>

		<div class="w3-container w3-text-grey" id="summary_device">
			<div class="w3-bar w3-text-black w3-border-top w3-border-bottom">
				<table class="w3-table">
					<tr class="w3-border-bottom">
						<td width="50%">USB 종류</td><td>TEST</td>
					</tr>
					<tr>
						<td>현재 상태</td><td>좋음</td>
					</tr>
				</table>
			</div>
		</div>

		<br>
		<div class="w3-black w3-center w3-padding-24"> VeryPI Router Setting PAGE</div>
	</div>

	<script src="../public/js/script_main.js"></script>
</body>
</html>
