<!DOCTYPE html>
<html>
<title>Family HUB Digital Frame</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/public/css/main_css.css">
<link rel="stylesheet" href="/public/css/montserrat.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">

<link href="/public/css/glDatePicker.flatwhite.css" rel="stylesheet" type="text/css">

<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 150px;background: #111;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 150px}
/* Remove margins from "page content" on small screens */
/* @media only screen and (max-width: 600px) {#main {margin-left: 0}} */
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-dark w3-sidebar w3-bar-block w3-small w3-center">
  <!--<img src="/w3images/avatar_smoke.jpg" style="width:100%">-->
    <a href="/df_main" class="w3-bar-item w3-button w3-padding-large w3-black">
        <p>MAIN Page</p>
    </a>
    <a href="/df_router_info" class="w3-dark-grey w3-bar-item w3-button w3-padding-large w3-hover-black">
        <p>SYSTEM INFO</p>
    </a>
    <a href="/df_photo_slide" class="w3-dark-grey w3-bar-item w3-button w3-padding-large w3-hover-black">
        <p>PHOTO SLIDE</p>
    </a>
    <a href="/df_tag" class="w3-dark-grey w3-bar-item w3-button w3-padding-large w3-hover-black">
        <p>TAG VIEW</p>
    </a>
    <a href="/df_day" class="w3-dark-grey w3-bar-item w3-button w3-padding-large w3-hover-black">
        <p>FIND BY DATE</p>
    </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
        <p>Find By Date</p>

    <div id="calendarArea" class="w3" style="width:600px; height:300px"><div id="datePicker" ></div></div>
<!-- END PAGE CONTENT -->
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
<script src="/public/js/glDatePicker.min.js"></script>
<script type="text/javascript">
        $('#datePicker').glDatePicker({
			cssName: 'flatwhite',
			showAlways: true,
			borderSize: 0,
			zIndex: 0
		});   
</script>

</body>
</html>


