<!DOCTYPE html>
<html>
<title>Family HUB Digital Frame</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/public/css/main_css.css">
<link rel="stylesheet" href="/public/css/montserrat.css">
<link rel="stylesheet" href="/public/css/font-awesome.min.css">
<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    #slideShowImages { /* The following CSS rules are optional. */
      border: 0px white solid;
      background-color: lightgray;
    }   
    #slideShowImages img { /* The following CSS rules are optional. */
	  width: 800px;
	  height: 500px;
    }       
</style>
<body class="w3-black">
<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
    <div class="w3-center">
      <div id="slideShowImages">
        <img src="/public/images/1.jpg" alt="Slide 1" />
        <img src="/public/images/2.jpg" alt="Slide 2" />
        <img src="/public/images/3.jpg" alt="Slide 3" />  
        <img src="/public/images/4.jpg" alt="Slide 4" />
        <img src="/public/images/5.jpg" alt="Slide 5" />
        <img src="/public/images/6.jpg" alt="Slide 6" />  	
      </div>          
    </div>
<!--  <button id="slideShowButton"></button> <!-- Optional button element. -->
    <a href="/df_photo_slide" class="w3-text-deco">원래대로 돌아가기</a>
  <script src="/public/js/slideShow.js"></script>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>


<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Slide Show</title>
  <style>
  </style>
</head>

<body>
</body>

</html>
