	<!-- 메뉴 -->
	<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
		<div class="w3-container w3-display-container w3-padding-16">
			<i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
			<h3 class="w3-narrower w3-center">
                <a href="/" class="w3-text-deco"><b>Family HUB</b></a><br>
                <h5 class="w3-center">
                    <a href="/" class="w3-text-deco">VeryPI</a>
                </h5>
            </h3>
            <br>
            <div class="w3-center w3-border-top w3-border-bottom">
                <% if (1) { %>
                    <p class="w3-text-grey"><span class="fa fa-user"></span> 관리자님 환영합니다</p>
                    <a href="/logout" class="w3-bar-item w3-center w3-button w3-text-black"> 로그아웃</a>
                <% } else { %>
                    <p class="w3-text-grey">로그인 하시기 바랍니다</p>
                    <a href="/login" class="w3-bar-item w3-center w3-button w3-text-black"> 로그인</a>
                <% } %>
            </div>    
        </div>
	  
		<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
			<a href="/" class="w3-bar-item w3-button w3-text-black">시스템 정보</a>

            <% if (1) { %>
                <a onclick="myAccFunc(1)" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    사용 설정<i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc1" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="/process/listpost?page=0&perPage=2" class="w3-bar-item w3-button">공지사항 설정</a>
                    <a href="/pw_change" class="w3-bar-item w3-button">비밀번호 변경</a>
                    <a href="/process/list_reg_device" class="w3-bar-item w3-button">구성원 관리</a>
                    <a href="/limit_user" class="w3-bar-item w3-button">사용인원 제한</a>
                </div>

                <a onclick="myAccFunc(2)" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    네트워크 설정 <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc2" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="/process/list_ban_port" class="w3-bar-item w3-button w3-light-grey">포트 설정</a>
                    <a href="/process/list_portfw_rule" class="w3-bar-item w3-button">포트 포워딩 설정</a>
                    <a href="/inner_network" class="w3-bar-item w3-button">내부 네트워크 관리</a>
                    <a href="/change_router_ip" class="w3-bar-item w3-button">공유기 IP 변경</a>
                </div>

                <a onclick="myAccFunc(3)" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    보안 설정 <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc3" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="/process/list_ban_mac" class="w3-bar-item w3-button">MAC Address 관리</a>
                    <a href="/syn_flood" class="w3-bar-item w3-button">SYN Flood 차단 설정</a>
                </div>

                <a onclick="myAccFunc(4)" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    디지털 액자 <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc4" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="/slide_setting" class="w3-bar-item w3-button">슬라이드 설정</a>
                    <a href="/save_energy" class="w3-bar-item w3-button">절전 설정</a>
                </div>

                <a onclick="myAccFunc(5)" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    Printer Sharing <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc5" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="/pt_driver" class="w3-bar-item w3-button">드라이버 설정</a>
                    <a href="/pt_printer" class="w3-bar-item w3-button">프린터 설정</a>
                </div>

                <a onclick="myAccFunc(6)" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
                    NAS <i class="fa fa-caret-down"></i>
                </a>
                <div id="demoAcc6" class="w3-bar-block w3-hide w3-padding-large w3-medium">
                    <a href="/nas_register" class="w3-bar-item w3-button">NAS 등록</a>
                </div>
                <br>
                <a href="/df_main" class="w3-button w3-block w3-white w3-left-align w3-text-grey" id="myBtn">
                    Digital Frame <i class="fa fa-caret-down"></i>
                </a>
			<% } %>
            
		</div>
	</nav>

	<!-- 모바일 버전 상단 바 -->
	<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
		<a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-left" onclick="w3_open()"><i class="fa fa-bars"></i></a>
		<div class="w3-bar-item w3-padding-24">VeryPI Router</div>
	</header>

	<!-- 모바일 메뉴 닫기 -->
	<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>