<!DOCTYPE html>
<html>
<title>Router 설정 페이지</title>
<meta charset="UTF-8">
<% include ./meta.ejs %>
<style>
.w3-sidebar a {font-family: "Roboto", "Nanum gothic", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", "Nanum gothic", sans-serif;}
</style>

<body class="w3-content w3-grey" style="max-width:1200px">

    <% include ./menu.ejs %>

	<!-- 내용 시작 -->
	<div class="w3-main w3-white" style="margin-left:250px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top:83px"></div>

        <% if (1) { %>
            <!-- 본문 내용 삽입 -->
        
            <!-- 포트 포워딩 설정 -->
            <header class="w3-container w3-xlarge">
                <p class="w3-left w3-border-bottom">네트워크 설정 > 포트 포워딩 설정</p>
            </header>

            <div class="w3-container w3-text-grey" id="summary_device">
                <p>현재 등록된 규칙</p>
			    <form action="/process/add_portfw_rule" method="post">
                    <div class="w3-bar w3-text-black w3-border-top w3-border-bottom">
                        <table class="w3-table">
                            <tr class="w3-border-bottom">
                                <td>규칙명</td>
                                <td>포트</td>
                                <td>포트</td>
                                <td width=50px>선택</td>
                            </tr>
                                <% for (var i = 0; i < result.length; i++) { 
                                    var rulename = result[i]._doc.rule_name;
                                    var innerport = result[i]._doc.inner_port;
                                    var outerport = result[i]._doc.outer_port;
                                    var index = result.length - i;%>
                                    <tr>
                                        <td><%=rulename%></td>
                                        <td><%=innerport%></td>
                                        <td><%=outerport%></td>
                                        <td><input class="w3-center" type="checkbox" name="check" value="<%=index%>"></td>   
                                    </tr>
                                <% } %>
                            <tr>
                                <td><input class="w3-input w3-border" type="text" name="rulename" required></td>
                                <td><input class="w3-input w3-border" type="text" name="innerport" required></td>
                                <td><input class="w3-input w3-border" type="text" name="outerport" required></td>
                                <td></td>
                            </tr>
                            <br>
                            
                        </table>
                        <div class="w3-half w3-container">
                            <button type="submit" name="add" value="1" class="w3-button w3-block w3-padding-large w3-black w3-margin-top">규칙 등록하기</button>
                        </div>
                        <div class="w3-half w3-container">
                            <button type="submit" name="delete" value="1" class="w3-button w3-block w3-padding-large w3-black w3-margin-top">선택된 규칙 삭제하기</button>
                        </div>
                    </div>
                </form>
            </div>	        

        <% } else { %>
            <div class="w3-container w3-center w3-padding-32">
                <p class="w3-text-grey w3-large">로그인 하시기 바랍니다</p>
                <a href="/login" class="w3-bar-item w3-center w3-button w3-text-black"> 로그인 하기</a>
            </div>
        <% } %>

		

		<div class="w3-black w3-center w3-padding-24"> VeryPI Router Setting PAGE</div>
	</div>

	<script src="/public/js/script_main.js"></script>
</body>
</html>
