<!DOCTYPE html>
<html>
<title>Router 설정 페이지</title>
<meta charset="UTF-8">
<% include ./meta.ejs %>
<style>
.w3-sidebar a {font-family: "Roboto", "Nanum gothic", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", "Nanum gothic", sans-serif;}
</style>

<body class="w3-content w3-grey" style="max-width:1200px">

    <% include ./menu.ejs %>

    <!-- 내용 시작 -->
	<div class="w3-main w3-white" style="margin-left:250px">

		<!-- Push down content on small screens -->
		<div class="w3-hide-large" style="margin-top:83px"></div>

        <% if (login_success) { %>
            <!-- 본문 내용 삽입 -->
        
            <!-- 공지 게시물 추가-->
            <header class="w3-container w3-xlarge">
                <p class="w3-left w3-border-bottom">사용 설정 > 공지사항</p>
            </header>
        
            <div class="w3-container">
                <p class="w3-large w3-center">글쓰기</p>

                <div class="content">
                    <form class="content ui form" method="post" action="/process/addpost">

                        <div class="w3-conten">
                            <div class="field">
                                <label>제목</label><br>
                                <input type="text" name="title" placeholder="제목 입력">
                            </div>
                            <div class="field"></div>
                        </div>

                        <div class="field">
                            <label>내용</label><br>
                            <textarea class="w3-text"id="contents" name="contents" rows="10" cols="80"></textarea>
                        </div>		

                        <div class="two fields">
                            <div class="field">
                                <label>작성자</label><br>
                                <input type="text" name="writer" placeholder="작성자 입력">
                            </div>
                            <div class="field"></div>
                        </div>
                        <br>
                        
                        <div class="w3-center">
                            <input class="w3-button" type="submit" value="추가" name="" />
                            <input class="w3-button" type="button" value="취소" name="" onclick="javascript:history.back()" />                        
                        </div>
                    </form>
                </div>
            </div>
            <br>

        <% } else { %>
            <div class="w3-container w3-center w3-padding-32">
                <p class="w3-text-grey w3-large">로그인 하시기 바랍니다</p>
                <a href="/login" class="w3-bar-item w3-center w3-button w3-text-black"> 로그인 하기</a>
            </div>
        <% } %>

		

		<div class="w3-black w3-center w3-padding-24"> VeryPI Router Setting PAGE</div>
	</div>

    <script src="/public/jquery-3.1.1.min.js"></script>
    <script src="/public/semantic.min.js"></script>
    <script src="/public/ckeditor/ckeditor.js"></script>
	<script src="/public/js/script_main.js"></script>
</body>
</html>
